:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #b1ff3b;
  --accent-bg: rgba(73, 121, 19, 0.1);
  --accent-border: rgba(190, 255, 59, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  
  --heading-bg: #b7ff00;
  --sidebar-bg: rgb(205, 205, 205);
  --map-bg: rgb(21, 21, 21);
  --inside-borders: rgb(155, 155, 155);
  --outside-borders: rgb(44, 44, 44);

  --buttons: rgb(99, 135, 0);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #b2fc84;
    --accent-bg: rgba(198, 252, 132, 0.15);
    --accent-border: rgba(220, 252, 132, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  
    --heading-bg: #d9ff78;
    --sidebar-bg: rgb(21, 21, 21);
    --map-bg: rgb(21, 21, 21);
    --inside-borders: rgb(32, 32, 32);
    --outside-borders: rgb(138, 138, 138);

    --buttons: rgb(99, 135, 0);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}